<!DOCTYPE html>
<html lang="en">
{% extends 'buildingsupply/base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%load static %}
{% block content %}

<h1 class="headings"> About Us</h1>
<div id="main-container">
    <div id="about-container">
        <div id="about-image-container">
            <img src={% static "img/About_Us.png" %} alt="whiteTshirt">
        </div>
        <div id="about-description">

            <p>
                At BuildSupply, you can choose from the top building material suppliers and manufacturers. Following stringent quality checks before on-boarding a particular construction material supplier, BuildSupply facilitates price comparison for various construction material suppliers to let the customer choose as per his requirements.

Whether you want to procure building materials online from the best building material suppliers near you or all across USA, BuildSupply is your ideal online building material store that provides a single-window solution for your diversified needs.

Get quotes from the best construction material suppliers at BuildSupply today!

            </p>
        </div>
    </div>
</div>
{% endblock %}
</html>
